* {
    box-sizing: border-box;
}

.game {
    //height: 1000px;
    outline: none;
}

.row {
    margin: 0px;
    //border: 0.5px solid black;
    display: flex;
}

.board {
    height: 600px;
    width: 800px;
    //border: 1px solid red;
    border-bottom: 0.1px solid black;
    border-right: 0.1px solid black;
}

.square {
    border-top: 0.1px solid black;
    border-left: 0.1px solid black;
    display: flex;
}